*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  interpolate-size: allow-keywords;
  --font-header: "Dosis", sans-serif;
  --font-subheader: "Overpass", sans-serif;
  --font-main: "Rubik", sans-serif;
  --color-blue: hsl(211, 27%, 67%);
  --color-blue-flashy: hsl(209 89.4% 60.6%);
  --color-black: hsl(202, 17%, 21%);
  --color-black-transparent: hsla(202, 17%, 21%, 0.4);
  --color-white: hsl(216, 0%, 91.4%);
  --spacing-1: 12px;
  --spacing-2: 19px;
  --spacing-3: 31px;
  --spacing-4: 50px;
  --spacing-5: 82px;
  --spacing-6: 133px;
  --spacing-7: 215px;
  --spacing-8: 348px;
  --golden-ratio: 1.618;
  --easing-article: cubic-bezier(0.36, 0, 0.64, 1);
}

html,
body {
  height: 100%;
  overflow: unset;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* ===> NAVBARS <=== */
#navbar {
  position: fixed;
  width: 100%;
  height: calc(100vh / var(--golden-ratio));
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--color-white);
  box-shadow: 1px 5px 11px 2px var(--color-blue);
  transform: translateY(-110%);
}

#home {
  height: var(--spacing-4);
  width: var(--spacing-4);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#home svg {
  height: 100%;
  width: 100%;
}

.link-navbar {
  height: var(--spacing-4);
  width: var(--spacing-4);
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-navbar a,
.link-navbar svg {
  height: var(--spacing-3);
  width: var(--spacing-3);
  display: block;
  fill: var(--color-black);
}

.list {
  list-style: none;
  position: relative;
}

#navbar-languages {
  top: 0;
}

#list-languages {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--spacing-4);
}

.link-language {
  font-family: var(--font-header);
  font-size: clamp(var(--spacing-2), 1.8vw, var(--spacing-3));
  font-weight: 200;
  color: var(--color-black);
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.link-language:hover {
  color: var(--color-blue);
}

.selected-language {
  font-weight: 900;
}

#list-sections {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: var(--spacing-7);
  height: var(--spacing-7);
}

/* ===> HOME <=== */
#main {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-black);
}

#home-hero {
  position: relative;
  width: 100%;
  padding: var(--spacing-3);
}

.header-image {
  display: block;
  object-fit: cover;
  position: relative;
  max-width: 100%;
  min-height: 100vh;
}

.header-background {
  width: calc(100vw - 100vw / var(--golden-ratio));
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-3);
  padding: 0 var(--spacing-2);
}

#hero-background {
  height: calc(100% / var(--golden-ratio));
  transform: translateX(120%);
  right: var(--spacing-3);
  top: var(--spacing-3);
  transition: transform 500ms linear(0, 1 44.7%, 0.898 51.8%, 0.874 55.1%, 0.866 58.4%, 0.888 64.3%, 1 77.4%, 0.98 84.5%, 1);
}

#hero-title {
  color: var(--color-black);
  font-family: var(--font-header);
  font-weight: 900;
  text-transform: uppercase;
  font-size: clamp(var(--spacing-4), 11vw, var(--spacing-6));
  text-align: center;
  line-height: 1;
  position: relative;
  width: 100%;
  transform: translateX(150%);
  transition: transform 1s cubic-bezier(0.22, 1, 0.36, 1);
}

#subheaders-wrapper {
  width: 100%;
  position: relative;
}

#hero-subheaders-container {
  color: var(--color-black);
  font-family: var(--font-subheader);
  font-size: clamp(var(--spacing-1), 2vw, var(--spacing-2));
  text-align: center;
  font-weight: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-1);
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#hero-subheaders-container>p,
#hero-subheaders-container>span {
  opacity: 0;
}

/* press carousel */
#press {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 1080px;
}

#press-carousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100vw / var(--golden-ratio));
  position: relative;
  text-align: center;
}

.review-container {
  color: var(--color-white);
  font-family: var(--font-main);
  font-weight: 100;
  font-style: italic;
  font-size: clamp(1rem, 2.5vw, 1.7rem);
  position: relative;
}

.source-container {
  color: var(--color-blue);
  font-family: var(--font-header);
  font-weight: 800;
  font-size: clamp(1.3rem, 2.5vw, 2.2rem);
  position: relative;
}

/* ===> NEWS <=== */
#news {
  position: relative;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#news-header {
  position: relative;
  width: 100%;
  display: flex;
}

#news-header-background {
  height: 100%;
  left: 0;
  transform: translateX(0);
  transition: transform 500ms linear(0, 1 44.7%, 0.898 51.8%, 0.874 55.1%, 0.866 58.4%, 0.888 64.3%, 1 77.4%, 0.98 84.5%, 1);
}

.section-title {
  width: 100%;
  font-family: var(--font-header);
  font-size: var(--spacing-6);
  font-weight: 800;
  color: var(--color-black);
  text-align: center;
}

#news-container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  background-color: var(--color-black);
  padding: var(--spacing-4) var(--spacing-4) var(--spacing-4) 0;
}

#news-list {
  width: calc(100vw - 100vw / var(--golden-ratio));
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 var(--spacing-4);
  gap: var(--spacing-2);
}

.article {
  position: relative;
  display: flex;
  width: 100%;
  height: var(--spacing-7);
  border-radius: var(--spacing-1);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  transform: scale(0.97);
  transition: 0.3s var(--easing-article);
}

.article-image {
  position: absolute;
  object-fit: cover;
  object-position: center;
  width: 100%;
  z-index: 0;
}

.article-overlay {
  position: absolute;
  width: 110%;
  height: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: inherit;
  background-color: var(--color-black-transparent);
  opacity: 1;
  backdrop-filter: blur(3px);
  z-index: 1;
  transition: 0.3s var(--easing-article);
}

.article-text {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: var(--spacing-2);
  color: var(--color-white);
  z-index: 3;
  text-shadow: 0px 0px 0px var(--color-black);
  transition: 0.3s var(--easing-article);
}

.article-background {
  position: absolute;
  height: 50%;
  width: calc(100% / var(--golden-ratio));
  top: 0;
  left: 0;
  border-radius: 0 0 var(--spacing-1) 0;
  background-color: var(--color-blue-flashy);
  z-index: 2;
  transform: translate(-100%, -100%);
  transition: 0.3s var(--easing-article);
}

.article:hover,
.article.inactive:hover {
  cursor: pointer;
  transform: scale(1);

  .article-overlay {
    opacity: 0;
    backdrop-filter: blur(0);
  }

  .article-text {
    text-shadow: 1px 1px 1px var(--color-black);
  }

  .article-background {
    transform: translate(0);
  }
}

.article.active {
  transform: scale(1);
}

.article.inactive {
  transform: scale(0.97);
}

.article.active .article-overlay {
  opacity: 0;
  backdrop-filter: blur(0);
}

.article.inactive .article-overlay {
  opacity: 1;
  backdrop-filter: blur(3px);
}

.article.active .article-text {
  text-shadow: 1px 1px 1px var(--color-black);
}

.article.inactive .article-text {
  text-shadow: 0px 0px 0px var(--color-black);
}

.article.active .article-background {
  transform: translate(0);
}

.article.inactive .article-background {
  transform: translate(-100%, -100%);
}

.article-time-ago {
  font-family: var(--font-subheader);
  font-size: var(--spacing-1);
  color: inherit;
}

.article-title {
  text-align: center;
  font-family: var(--font-header);
  font-size: var(--spacing-3);
  font-weight: 550;
  text-transform: uppercase;
  color: inherit;
}

#current-news {
  height: fit-content;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-5);
  background: var(--color-white);
  padding: var(--spacing-3);
  border-radius: var(--spacing-1);
  transition: 0.3s var(--easing-article);
  top: var(--spacing-4);
  position: sticky;
}

#current-news-date {
  font-family: var(--font-header);
  font-size: var(--spacing-3);
  font-weight: 400;
  color: var(--color-black);
  text-align: right;
  letter-spacing: 5px;
}

.doc-content span {
  color: var(--color-black);
  font-family: var(--font-main);
}

.news-content-link {
  color: var(--color-blue-flashy);
  font-weight: 700;
  text-decoration: none;
}

/* ===> FOOTER <=== */
#footer {
  background: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-4) 0;
  gap: var(--spacing-2);
  color: var(--color-black);
  font-family: var(--font-subheader);
  font-weight: 200;
  height: calc(100vh - 100vh / var(--golden-ratio));
}

#footer a {
  color: var(--color-black);
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

#footer a:hover {
  color: var(--color-blue);
}

/* social media */
#list-social-medias {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--spacing-2);
}

.link-social-media {
  height: var(--spacing-3);
  width: var(--spacing-3);
}

.link-social-media a,
.link-social-media svg {
  height: 100%;
  width: 100%;
  display: block;
}

/* facebook */
#facebook-color-one {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

#facebook-color-two {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

#facebook:hover #facebook-color-one {
  fill: #0866ff;
}

#facebook:hover #facebook-color-two {
  fill: transparent;
}

/* spotify */
#spotify-color {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

#spotify:hover #spotify-color {
  fill: #1ed760;
}

/* apple */
.apple-color {
  stop-color: var(--color-black);
  transition: stop-color 0.3s ease-in-out;
}

#apple:hover .apple-color {
  stop-color: #d1d1d1;
}

/* tidal */
#tidal-color {
  fill: var(--color-black);
  transition: fill 0.3s ease-in-out;
}

#tidal:hover #tidal-color {
  fill: #00bcd4;
}

#footer-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: var(--spacing-1);
}

/* ===> RESPONSIVE <=== */
@media (max-width: 600px) {
  #hero-container {
    align-items: center;
    padding: 1rem;
  }

  #hero-subheaders-container {
    margin-right: 0;
  }

  #press-carousel {
    top: 25%;
    left: 50%;
  }
}